.footer{
    position: relative;
    width: 375px;
    height: 2px;
    background-color: var(--bgr-color);
    margin: 0 auto;
}

#goTopBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 60px;
    z-index: 99;
    width: 64px;
    height: 64px;
    font-size: 18px;
    border: 5px solid rgba(79, 46, 232, 0.30);
    border-radius: 32px;
    background-color: $dk-violet;
    cursor: pointer;
    background-clip: padding-box;
//   &::before{
//      @include btnIcon ("gotop", 24px, 0);
//   }
}
#goTopBtn .svg{
    display: block;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    // fill: $white;
}