.footer{
    // position: relative;
    position: sticky;
    bottom: 0;
    width: 375px;
    height: 64px;
    background-color: var(--bgr-color);
    margin: 0 auto;
    background-color: transparent;
    // z-index: -1;
}

#goTopBtn{
    display: none;
    // margin-left: auto;
    // margin-right: 20px;
    position: absolute;
    // position: sticky;
    // position: fixed;
    // bottom: 20px;
    // left: 70px;
    right: 20px;
    z-index: 999;
    width: 64px;
    height: 64px;
    font-size: 18px;
    border: 5px solid rgba(79, 46, 232, 0.30);
    border-radius: 32px;
    background-color: $dk-violet;
    cursor: pointer;
    background-clip: padding-box;
//   &::before{
//      @include btnIcon ("gotop", 24px, 0);
//   }
}
#goTopBtn .svg{
    display: block;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    // fill: $white;
}

@media screen and (min-width: 768px) {
    .footer {
      width: 768px;
    }
}
@media screen and (min-width: 1440px) {
    .footer {
      width: 1440px;
    }
}
