.funds {
   width: 335px;
   height: 352px;
   border-radius: 16px;
   background-image: radial-gradient(
       at top center,
       rgba(79, 46, 232, 1),
       transparent
     ),
     radial-gradient(at bottom center, rgba(79, 46, 232, 1), transparent);
   margin-bottom: 40px;
 }

 .funds {
   width: 335px;
   height: 472px;
   margin-bottom: 100px;
 }

 .funds {
   width: 356px;
   margin-bottom: 0;
 }
