.container {
   // max-width: 375px;
}

.header{
}
.header .container {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding: 10px 16px;
   // padding-left: 16px;
   // padding-right: 16px;
   // height: 50px;
   border-bottom: 1px solid red;
   background-color: olive;
   max-width: 375px;
   display: flex;
   align-items: center;
}
.logo {
   text-transform: uppercase;
}

.menu{
}

.menu-btn{
   // position: relative;
   width: 24px;
   height: 24px;
   background-color: transparent;
   border: none;
}

.close-btn {
   position: absolute;
   top: 24px;
   right: 24px;
   width: 24px;
   height: 24px;
   cursor: pointer;
   fill: #000000;
   background-color: gray;
   border-radius: 50%;
}

.login-btn{
width: 70px;
// margin-top: 20px;
}

.page-nav{
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding: 10px;
   background-color: yellow;
}

 /* === Mobile CSS ===  */
 @media screen and (max-width: 767px) {
   .header .container {
      //  padding-top: 24px;
      //  padding-bottom: 22px;
       justify-content: space-between;
   }
   .menu {
       display: none;
   }
   .menu.is-open {
   background-color: #ee8d16;
       display: flex;
       flex-direction: column;
       gap: calc(100% / 4);
       position: fixed;
       overflow-y: scroll;
       overflow-x:hidden;
       top: 50px;
       left: 0;
       bottom: 0;
       z-index: 1;
       width: 100%;
      max-width: 375px;
       padding: 80px 40px 40px;
      //  justify-content: space-between;
   }

 }



/* -===*** Tablet CSS ***===-  */
@media screen and (min-width: 768px) {
   .header .container {
       max-width: 768px;
    }
    .theme-swithcer{
      margin-left: auto;
    }
    .login-btn{
      margin-left: 15px;
      margin-right: 15px;
    }
    .menu-btn, .menu .close-btn{
       display: none;
   }

   .page-nav{
      position: absolute;
      top: 0;
      left: 90px;
       display: flex;
       flex-direction: row;
       gap: 40px;
   }
   
    .header .container {
      //  padding-top: 0;
      //  padding-bottom: 0;
   }
}
// =============
