.header {
   // position: relative;
}
.container {
   // min-width: 375px;
}

.header .container {
   width: 375px;
   @include centered();
   position: relative;
   // margin-left: auto;
   // margin-right: auto;
   // padding: 10px 16px;
   
   background-color: var(--bgr-color);
   display: flex;
   align-items: center;
   
}

.logo {
   text-transform: uppercase;
   background-color: transparent;
   border: none;
   display: inline-block;
}

// .menu {
//    // top: 100%;
//    top: 0;
//    display: flex;
//    flex-direction: column;
//    left: 0;
//    width: 375px;
//    // @include centered();
   
//    z-index: 1;
//    // opacity: 0;
//    // visibility: hidden;
//    pointer-events: none;
//    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
//    // width: 100%;
//    transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
//    position: fixed;
//    // top: 64px;
//    bottom: 100vh;
//    // left: 0;
// }

.mob-header{
   display: flex;
   align-items: center;
   width: 100%;
   height: 64px;
   z-index: 2;
   border-radius: 0px 0px 8px 8px;
   border: 1.5px solid var(--text-color);
   background-color: var(--bgr-color);
  
}

.menu {
   display: none;
}
.menu.is-open {
      // @include centered();
   display: flex;
   flex-direction: column;
      background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
// background-color: var(--light);
   position: fixed;
   overflow-y: scroll;
   overflow-x:hidden;
   top: 0;
   // left: 0;
   bottom: 0;
   z-index: 1;
      width: 375px;
   // width: 100%;
   padding-top: 84px;
   // padding: 84px 40px 40px;
   justify-content: space-between;
}

.theme-switcher {
   margin-left: auto;
   margin-right: 14px;
   background-color: transparent;
   border: none;
   // display: inline-block;
}
.menu-btn {
   // position: relative;
   width: 28px;
   height: 28px;
   background-color: transparent;
   border: none;
   display: inline-block;
   // margin-bottom: 9px;
   margin-right: 20px;
}

// .close-btn {
//    position: absolute;
//    top: 24px;
//    right: 24px;
//    width: 24px;
//    height: 24px;
//    cursor: pointer;
//    fill: var(--text-color);
//    border-radius: 50%;
//    display: none;
// }

.login-btn {
   width: 70px;
   // margin-top: 20px;
   color: #FFF;
   font-family: DM Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 18px;

   letter-spacing: -0.56px;
}



/* === Tablet CSS ===  */
@media screen and (min-width: 768px) {

   
.header .container {
   width: 768px;
   @include centered();
}

   .menu {
      // display: block;
      display: flex;
      align-items: center;
      z-index: 1;
      // opacity: 0;
      // visibility: hidden;
      pointer-events: none;
      // background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
      // width: 100%;
      transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
      // position: fixed;
      // top: 0;
      height: 64px;
      // bottom: 0;
      // left: 0;
   }

   .sign-up {
      margin-right: 32px;
      // margin-top: 20px;
      // margin-bottom: 138px;

   }

   .home-nav {
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
   }

   .shoplist-nav {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
   }



   .menu.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
   }

   .header .container {
      //  padding-top: 24px;
      //  padding-bottom: 22px;
      justify-content: space-between;

   }

   .logo {
      margin-right: 140px;
   }

   .login-btn {
      margin-left: 20px;
      margin-top: 20px;
   }

   .home-nav {
      margin-bottom: 17px;
      cursor: pointer;
   }

   .img-burger-menu {
      position: absolute;
      bottom: 0;
      width: 100%;
   }

}



/* -===*** Tablet CSS ***===-  */
@media screen and (min-width: 768px) {
   .header .container {
      max-width: 768px;
   }
   
.mob-header{
   z-index: 0;
   max-width: 768px;
}

   .shoplist-nav {
      text-align: center;
      align-items: center;
      display: flex;
      padding-left: 16px;
   }

   .login-btn {
      // margin-left: 15px;
      margin-right: 15px;
   }

   .menu-btn,
   .menu .close-btn {
      display: none;
   }

   .page-nav {
      position: absolute;
      pointer-events: all;
      top: 0px;
      left: 181px;
      height: 64px;
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: 4;
      gap: 40px;
      // color: #000;
      // background-color: #EAC645;
   }

   // .menu {
   //    display: block;
   //    top: 0;
   // }

   .img-burger-menu {
      display: none;
   }


}

@media screen and (min-width: 1440px) {
   .header .container {
      max-width: 1440px;
   }
   .mob-header {
      max-width: 1440px;
}
}

// =============
.icon-burger {
   stroke: var(--text-color);
}

// .theme-switcher {
// }

.menu-btn .icon-close {
   display: none;
}

.menu-btn.is-open .icon-close {
   display: block;
}

.menu-btn.is-open .icon-menu {
   display: none;
}

.login-btn {
   display: flex;
   border-radius: 18px;
   border: 1.5px solid var(--text-color);
   background: #4F2EE8;
   width: 200px;
   padding: 14px 14px 14px 14px;

}

.slider-bgr {
   position: relative;
   display: block;
   width: 40px;
   height: 20px;
   border-radius: 10px;
   background-image: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
}

.slider-light {
   background-image: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
   box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
}

.slider-dark {
   background-image: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
   box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
}

.slider-shadow {
   position: absolute;
   width: 19.5px;
   height: 19.5px;
   display: block;
   border-radius: 10px;
   background-color: #000;
   opacity: 0.1;
}

.slider-light .slider-shadow {
   top: 0.5px;
   left: -0.5px;
}

.slider-dark .slider-shadow {
   top: 0.5px;
   right: -0.5px;
}

.slider {
   position: absolute;
   width: 18px;
   height: 18px;
   display: block;
   background-color: #ffffff;
   border-radius: 9px;
}

.slider-light .slider {
   top: 1px;
   left: 0;
}

.slider-dark .slider {
   top: 1px;
   right: 0;
}

.home-nav {
   background-color: transparent;
   border: none;
   display: inline-block;
   cursor: pointer;
}

.shoplist-nav {
   background-color: transparent;
   border: none;

}

.active-button {
   border-radius: 36px;
   background: #EAC645;
   display: flex;
   padding: 8px 16px;
}

// 
// .sign-up {
//    width: 184px;
//    height: 48px;
//    position: relative;
//    margin-left: 24px;
//    margin-right: 4px;
// }

.sign-up-btn {
   display: flex;
   align-items: center;
   justify-content: space-between;

   border-radius: 18px;
   border: 1.5px solid #111;
   background: #4f2ee8;
   width: 184px;
   height: 48px;
   color: #fff;
   font-family: DM Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 18px;
   padding: 15px 14px;
   letter-spacing: -0.56px;
}

.user-btn {
   position: relative;
   font-size: 22px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: -0.44px;
   color: #ffffff;
   display: flex;
   align-items: center;
   width: 184px;
   height: 45px;
   border-radius: 36px;
   border: none;
   background-color: #4f2ee8;
   padding: 4px 9px;
}

.user-text-btn {
   text-overflow: ellipsis;
   overflow: hidden;
}

.user-foto {
   margin-right: 9px;
}

.user-icon {
   width: 23px;
   height: 26px;
   stroke: var(--bgr-color);
   margin-left: auto;
}

.logout-btn {
   position: absolute;
   top: 45px;
   right: 0;

   color: var(--text-authorization-color);
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.28;
   letter-spacing: -0.56px;

   display: flex;
   align-items: center;
   justify-content: space-between;

   width: 118px;
   height: 48px;
   padding: 14px 24px;
   background: var(--bgr-color);
   border-radius: 18px;
   border: 1.5px solid #111;
}

.logout-icon {
   width: 20px;
   height: 20px;
   stroke: #eac645;
}

@media screen and (min-width: 768px) {
   .logout-btn {
      width: 184px;
      height: 48px;
      padding: 14px;
   }

}

.on-hidden {
   display: none;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.svg-navigation {
   margin-left: 4px;
}