
.header {
    display: flex;
    max-height: 1440px;
    align-items: center;
    padding: 18px 20px;
    border: 1.5px solid #111111;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: hidden;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
}
.navigation .current {
    border-radius: 36px;
    background: #EAC645;
    padding: 8px 16px;
}

.foto-logo {
    height: 28px;
    width: 109px;
    border-radius: 36px;
    
}
.btnmodal{
    margin-left: 20px;
}
.img-menu{
    max-width: 28px;
    max-height: 28px;
}
.li-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-navigation{
    margin-left: 4px;
        
}
.theme-switch{
    // padding-left: 144px;
    margin-right: 14px;
}
.navigation {
    display: flex;
    list-style: none;
    
}
.shoplist-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li a {
    text-decoration: none;
  
        color: #111;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.56px;
        text-transform: uppercase;
}


.burger-menu {
    
    display: none;
  
}
.img-menu{
    width: 28px;
    height: 28px;
}
.menu-btn {
    border: none;
    background-color: transparent;
    
    padding-left: 0;
    padding-right: 0;
}
.btn-header-icons {
    
    border: none;
}

.slider {
    position: relative;
    display: inline-block;
    width: 40px;
    /* Розмір ширина перемикача у неактивному стані */
    height: 24px;
    /* Розмір висоти перемикача у неактивному стані */
   
}

/* Стилі для самого перемикача */
.slider input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
    /* Колір, коли перемикач неактивний */
    border-radius: 24px;
    /* Радіус закруглення для кнопки перемикача */
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
    transition: 0.4s;
}


.slider input:checked+.slider-btn {
    background-image: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
    
}


.slider input:checked+.slider-btn:before {
    transform: translateX(16px);
    
}


.slider-btn:before {
    position: absolute;
    content: "";
    height: 24px;
    
    width: 24px;
    
    
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}


.sign-up {
    display: none;
}

@media screen and (max-width: 767px) {
    .navigation {
            display: none;
          

        }
    .theme-switch {
        margin-left: 144px;
    }
    .header{
        height: 64px;
    }
   
    
 
 
    
}

/* Стилі для екранів 768 пікселів і більше */
@media screen and (min-width: 768px) {
    .sign-up {
        display: block;
    }
    .logo {
        margin-right: 40px;
    }
    .navigation {
                margin-right: 101px;
    
        }
    .menu-btn {
               display: none;
           }
    .theme-switch{
        margin-right: 24px;
    }
    .navigation li:not(:last-child) a {
            margin-right: 16px;
            /* бажаний відступ між посиланнями, окрім останнього */
        }
    .header {
            width: 768px;
         }
    .modal-header {
             display: none;
         }
    }

@media screen and (min-width: 1440px) {
    .logo {
        margin-right: 76px;
    }
    .navigation {
        margin-right: 740px;
    }
    .header {
        width: 1440px;
    }
}

@media screen and (min-width: 1280px){ 
.header {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
     flex-direction: row;
    margin: auto;
}
}



.sign-up-button{
    display: flex;
    align-items: center;
   
       
    border-radius: 18px;
    border: 1.5px solid #111;
    background: #4F2EE8;
    width: 184px;
    height: 48px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding-left: 14px;
    letter-spacing: -0.56px;
}
/* Показати модальне вікно, коли воно активне */
.mobile-menu.show-modal {
    max-height: 100vh;
}

input:checked+.slider {
    background-image: url("../img/Switcher-on.jpg");
    /* Зображення для активного стану */
}

input:checked+.slider:before {
    transform: translateX(26px);
}

@media screen and (max-width: 767px) {
    .navigation {
        display: none;
    }
}



.backdrop.is-hidden {
    display: none;
    /* Приховуємо вікно за допомогою display: none; */
}

.li-navigation-modal>.current {
    color: #111111;
    /*  бажаний колір тексту для активного посилання */
    background-color: #EAC645;
    /* бажаний фоновий колір для активного посилання */
    padding: 8px 16px 8px 16px;
    border-radius: 36px;
}
.navigation-modal {
    margin-top: 183px;
}

.li-navigation-modal:not(:last-child){
    margin-bottom: 18px;
}



.img-burger-menu{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


.modal-header{
      
        position: fixed;
        
        
        
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        width: 100%;
        height: 100%;
        z-index: 9;
        top: 0;
        left: 0px;
        background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
}
.header-backdrop{
    display: flex;
    max-height: 1440px;
    align-items: center;
    padding: 18px 20px;
    border: 1.5px solid #111111;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 64px;
}

.modal-header.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.logo-modal{
    padding-right: 144px;
}

.btn-close{
        top: 18px;
        right: 20px;
        position: absolute;
    }


.btn-close-svg {
    stroke: black;
    fill: none;
}
.menu-btn-svg:hover,
.menu-btn-svg:focus {
    stroke: #4F2EE8;
}