//------Контейнер від секції-----------------
.home {
  font-family: 'DM Sans', sans-serif;
  width: 375px;
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
// --Секція категорії------------------------
.category {
  margin-bottom: 40px;
}

// ----------------------Секція фонди--------------------------------
.funds {
  margin-bottom: 40px;
}
// ------------------------Секція КНИГИ-------------------------------------
// .loader {
//   font-size: 48px;
//   font-weight: 700px;
//   display: inline-block;
//   letter-spacing: -0.04em;
//   font-family: 'DM Sans', sans-serif;
//   color: #4f2ee8;
//   box-sizing: border-box;
//   animation: spotlight 1.2s linear infinite alternate;
// }

// @keyframes spotlight {
//   0%,
//   20% {
//     opacity: 1;
//     letter-spacing: 2px;
//   }
//   80%,
//   100% {
//     opacity: 0;
//     letter-spacing: 32px;
//   }
// }

.book-list-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #111111;
  margin-bottom: 40px;
}
.spn-books {
  color: #4f2ee8;
}
.best-category {
  margin-bottom: 8px;
}
.book-category {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: #b4afaf;
  margin-bottom: 18px;
}
.book-thumb {
  width: 335px;
  height: 535px;
}
.book-thumb:nth-child(n + 2) {
  display: none;
}
.img-book {
  width: 335px;
  height: 485px;
  margin-bottom: 18px;
  border-radius: 8px;
}
.book-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.04em;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #b4afaf;
}
.btn-see-more {
  font-size: 14px;
  font-weight: 700;
  border-color: #4f2ee8;
  background-color: white;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #111111;
  display: block;
  width: 124px;
  height: 46px;
  margin-bottom: 38px;
  margin-left: auto;
  border-radius: 40px;
}
// --------------------------------------768 px------------------------
@media screen and (min-width: 768px) {
  .home {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .top-sections {
    display: flex;
  }
  .category {
    width: 335px;
    height: 472px;
    margin-right: 34px;
    margin-bottom: 100px;
  }

  .name-category:not(:last-child) {
    margin-bottom: 32px;
  }

  .funds {
    width: 335px;
    height: 472px;
    margin-bottom: 100px;
  }
  .book-list {
    width: 704px;
  }
  .book-list-title {
    font-size: 48px;
    line-height: 1.1;
  }
  .best-category {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
  }
  .book-thumb {
    width: 218px;
    height: 366px;
  }

  .book-thumb:nth-child(n + 4) {
    display: block;
  }
  .img-book {
    width: 218px;
    height: 316px;
  }
}
// ---------------------------------------1440
@media screen and (min-width: 1440px) {
  .home {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: row;
  }
  .category {
    width: 356px;
    margin-bottom: 86px;
    margin-right: 40px;
  }
  .title-category {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #4f2ee8;
    margin-bottom: 32px;
  }

  .funds {
    width: 356px;
    margin-bottom: 0;
  }
  .book-list {
    width: 996px;
  }
  .book-thumb {
    position: relative;
    width: 180px;
    height: 306px;
  }

  .book-link:hover::after {
    content: 'QUICK VIEW';
    display: block;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    font-weight: 500;
    background: #eac645;
    cursor: pointer;
  }
  .book-thumb:nth-child(n + 2) {
    display: block;
  }
  .top-sections {
    display: flex;
    flex-direction: column;
  }
  .best-category {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
  }

  .img-book {
    width: 180px;
    height: 256px;
  }
  .btn-see-more:hover,
  .btn-see-more:focus {
    background-color: #4f2ee8;
    color: #ffffff;
    outline: none;
  }
}
