// The following settings must be set for the functionality to work:
// for light theme

:root {
  --bgr-color: #f6f6f6;
  --text-color: #111111;
  --text-category-author: #b4afaf;
  --category-accent: #4f2ee8;
  --shoplist-bgr: #ffffff;
}

// for a dark theme
:root[theme='dark'] {
  --bgr-color: #202024;
  --text-color: #ffffff;
  --category-accent: #eac645;
  --shoplist-bgr: #111111;
}
