
.shoplist {
        width: 335px;
            padding-top: 40px;
            background-color: var(--bgr-color);
            margin: 0 auto;
}
.shopping-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: -1.28px;
}

.shopping-title-list {
    color: var(--category-accent);
}

// ======== style shop-list-empty==========
.empty {
    display: block;
}
.shopping-list-empty {
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
    width: 265px;
    height: 248px;
}
.shopping-book-empty-img {
    width: 265px;
    height: 198px;
}

.shopping-book-empty {
    margin-bottom: 14px;
    width: 244px;
    height: 36px;
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
}
//=========== style button-trash===========
.button-trash {
    display: flex;
    position: absolute;
    right: 14px;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: $dk-violet;
        stroke: $white;
    background-color: var(--category-accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

// ======== style shopping-card==========

.book-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 335px;
    gap: 20px;
}

.shopping-card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 170px;
    padding: 14px 14px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 16px;
    border: 2px solid rgba(79, 46, 232, 0.40);
    $bg-body: #fafafa;
}


.shopping-book-img {
    width: 100px;
    height: 142px;
    border-radius: 8px;
}


.shopping-book-name {
    color: $grey;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -0.64px;
    text-transform: uppercase;
}

.shopping-book-category {
    margin-top: 4px;
    color: $grey;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.36px;
}

.shopping-book-info {
    margin-top: 4px;
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    width: 193px;
    height: 68px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.book-author {
    margin-top: 16px;
    $grey: #B4AFAF;
    font-size: 12px;
    font-style: italic;
    line-height: 1.16;
    letter-spacing: -0.48px;
}
// =============style shops==============
.shops-list {
    position: absolute;
        right: 14px;
        top: 136px;
        width: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.shop-icon {
    width: 100%;
    height: 16px;
    filter: grayscale(100);
}
// .shop-link:first-child {
//     width: 32px;
//         height: 11px;
// }

.shop-icon:hover,
.shop-icon:focus {
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);

}

/* =====================media-tablet================== */
@media screen and (min-width: 768px) {
    .shoplist {
        width: 768px;
        margin: auto;
        padding-left: 32px;
        padding-right: 32px;
    }

    .shopping-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.08;
        letter-spacing: -1.92px;
    }

   .book-list {
    width: 704px;
    margin-top: 40px;
}
   .shopping-card {
        height: 213px;
        padding: 30px 24px;
        gap: 14px;
    }
    .shopping-book-img {
    width: 116px;
    height: 165px;
    }
        
    .shopping-book-info {
    margin-top: 8px;
    width: 508px;
    height: 53px;
    }
    .book-author{
        margin-top: 48px;
    }
    .shopping-list-empty {
        margin-top: 140px;
        width: 349px;
        height: 309px;
    }
    .shopping-book-empty {
        margin-bottom: 20px;
        width: 349px;
        height: 48px;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.36px;
    }
    .shopping-book-empty-img {
        width: 322px;
        height: 241px;
}

.shops-list {
    right: 14px;
    top: 170px;
    width: 144px;
    gap: 16px;
}

.shop-icon {
    height: 30px;
    filter: grayscale(100);
}
  
}
/* =====================media-desktop================== */
@media screen and (min-width: 1440px) {
.shoplist {
    display: flex;
    width: 1440px;
    gap:40px;
    }

    .shopping-titel {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.08;
        letter-spacing: -1.92px;
    }
    .book-list {
            width: 996px;
            margin-top: 40px;
    }

    .shopping-list-empty {
        margin-top: 140px;
        width: 349px;
        height: 309px;
    }
    .empty {
        display: flex;
    }

    .shopping-book-info {
        width: 808px;
    }
    
}
        @media screen and (max-width: 1439px) {
            div.funds {
                display: none;
            }
        }