
.shoplist {
    padding-left: 20px;
    padding-right: 20px;
}
.empty {
    display: block;
}

.shopping-titel {
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: -1.28px;
}

.shopping-titel-list {
    color: #4F2EE8;
}

.button-trash {
    position: absolute;
    right: 14px;
    width: 16px;
    height: 16px;
}

.shopping-card {
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 335px;
    height: 170px;
    padding: 14px 14px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 16px;
    border: 2px solid rgba(79, 46, 232, 0.40);
    background: $bg-body;
}
.shopping-list-empty{
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
    width: 265px;
    height: 248px;
}

.shopping-book-img {
    width: 100px;
    height: 142px;
    border-radius: 8px;
}
.shopping-book-empty-img {
    width: 265px;
    height: 198px;
}

.shopping-book-empty {
    margin-bottom: 14px;
    width: 244px;
    height: 36px;
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
}

.shopping-book-name {
    color: #111;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -0.64px;
    text-transform: uppercase;
}

.shopping-book-category {
    margin-top: 4px;
    color: #B4AFAF;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.36px;
}

.shopping-book-info {
    margin-top: 4px;
    color: #111;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    width: 193px;
    height: 68px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.shopping-book-autor {
    margin-top: 16px;
    color: #B4AFAF;
    font-size: 12px;
    font-style: italic;
    line-height: 1.16;
    letter-spacing: -0.48px;
}

.shopping-linc-box {
    margin-top: 14px;
    display: flex;
    gap: 20px;
}

.shopping-linc {
    display: flex;
    gap: 20px;
}

/* =====================media-tablet================== */
@media screen and (min-width: 768px) {
    .shooping-list {
        margin: auto;
        padding-left: 32px;
        padding-right: 32px;
    }

    .shopping-titel {
        font-size: 48px;
        font-weight: 700;
        line-height: 1,08;
        letter-spacing: -1.92px;
    }

   .shopping-card {
        margin-top: 40px;
        max-width: 704px;
        height: 213px;
        padding: 30px 24px;
        gap: 14px;
    }
    .shopping-list-empty {
        margin-top: 140px;
        width: 349px;
        height: 309px;
    }
    .shopping-book-empty {
        margin-bottom: 20px;
        width: 349px;
        height: 48px;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.36px;
    }
    .shopping-book-empty-img {
        width: 322px;
        height: 241px;
}

    .shopping-book-img {
        width: 116px;
        height: 165px;
    }

    .shopping-book-info {
        width: 508px;
        height: 53px;
    }

    .shopping-book-autor {
        margin-top: 48px;
    }

  .button-trash {
      right: 24px;
      width: 18px;
      height: 18px;
  }
  
}
/* =====================media-desktop================== */
@media screen and (min-width: 1440px) {
    .shooping-list {
        padding-left: 0;
        padding-right: 0;
    }

    .shopping-titel {
        font-size: 48px;
        font-weight: 700;
        line-height: 1, 08;
        letter-spacing: -1.92px;
    }

   .shopping-card {
        max-width: 996px;
        height: 213px;
        padding: 30px 24px;
        gap: 14px;
    }

    .shopping-list-empty {
        margin-top: 140px;
        width: 349px;
        height: 309px;
    }
    .empty {
        display: flex;
    }

    .shopping-book-info {
        width: 808px;
    }

    .button-trash {
        right: 24px;
        width: 18px;
        height: 18px;
    }
.fonds {
    display: block;
    width: 356px;
    height: 474px;
    border-radius: 16px;
    background-image: radial-gradient(at top center,
            rgba(79, 46, 232, 1),
            transparent),
        radial-gradient(at bottom center, rgba(79, 46, 232, 1), transparent);
    margin-bottom: 40px;
}
}