$bg-body: #fafafa;
$black: #111111;
$dk-violet: #575561;
$orange: #fd9222;
$grey: #B4AFAF;

// imported from figma
// $black: #111111;
$black-1: #202024;
$violet: #4f2ee8;
$yellow: #eac645;
$white: #ffffff;