body{
    font-family: 'Montserrat', sans-serif;
      background-color: $bg-body;
}

.header{
   .container{
      position: relative;
      max-width: 375px;
      @include centered();
      @include sidePadding(20px);      
      @include verticalPadding (24px, 18px);
      display: flex;
      justify-content: space-between;
      align-items: center;   
   }
}


.logo{
   display: flex;
   align-items: center;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.29;
   letter-spacing: -0.03em;
   color: $black;

   span{
      font-style: italic;
      white-space: pre
   };

   &::after{
      @include btnIcon ("logo", 20px, 4px);
   }
}

.menu-btn{
   display: block;
   position: relative;
   width: 24px;
   height: 24px;
   border: none;
   background-color: transparent;

   &::before{
      @include btnIcon ("menu", 24px, 0);
   }
}

.menu{

   @media screen and (max-height: 320px) {
      padding-top: 60px;      
   }
   position: fixed;
   overflow-y: scroll;
   overflow-x:hidden;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   width: 220px;
   transform: translateX(100%);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-top:  calc(60px + (130 - 60) * ((100vh - 320px) / (120)));
   padding-bottom: 20px;
   @include sidePadding(20px);
   background-color: $dk-violet;
   transition: transform 250ms;

   @media screen and (min-height: 440px) {
      padding-top: 130px;      
   }

   &.is-open{
      transform: translateX(0);
   }
}

.nav{
   .item{
      @media screen and (max-height: 320px) {
         margin-bottom: 12px;
      }

      @include sidePadding(22px);
      margin-bottom: calc(12px + (24 - 12) * ((100vh - 320px) / (440 - 320)));
      
      @media screen and (min-height: 440px) {
         margin-bottom: 24px;
      }
   }

   .link{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: -0.02em;
      color: #FFFFFF;
   }
}

.close-btn{
   position: absolute;
   top: 20px;
   right: 20px;
   width: 28px;
   height: 28px;
   padding: 6px;
   stroke: #FFFFFF;
   background-color: transparent;
   border: 1px solid #fff;
   border-radius: 50%;

   .icon{
      width: 14px;
      height: 14px;
   }

   &:hover{
      border-color: $orange;
      stroke: $orange;
   }

      &:hover .icon{
         transform: scale(1.5);
      }
}

.social{   
   display: flex;
   gap: 18px;

   .link{
      // display: block;
      display: inline-block;
      width: 22px;
      height: 22px;
      padding: 2px;
      fill: #FFFFFF;
   }

   .icon{
      // display: block;
      width: 20px;
      height: 20px;
   }
}