// <div class="funds">
//       <button class="btn2bott">to bottom</button>
//       <h2>Funds</h2>
//       <p>fond 1</p>
//       <p>fond 2</p>
//       <p>fond 3</p>
//       <p>fond 4</p>
//       <p>fond 5</p>
//       <p>fond 6</p>
//       <p>fond 7</p>
//       <p>fond 8</p>
//       <button class="btn2top">to top</button>
// </div>


.funds{
   height: 170px;
   overflow-y: scroll;
   padding: 10px;
   scrollbar-width: none;
}
.funds::-webkit-scrollbar {
   display: none;
 }



//  =============
//  const refs = {
//    funds: document.querySelector('.funds'),
//    btn2bott: document.querySelector('.btn2bott'),
//    btn2top: document.querySelector('.btn2top'),
// }

// refs.btn2bott.addEventListener('click', goBottom);
// refs.btn2top.addEventListener('click', goTop);

// function goBottom (){
//    //  // smooth scroll doesnt work
//    // refs.funds.scrollTo({
//    //    top: refs.funds.scrollHeight,
//    //    left: 0,
//    //    behavior: "smooth",
//    //  });
//    refs.funds.scrollTop = refs.funds.scrollHeight;
// }
// function goTop (){
//    refs.funds.scrollTop = 0;
// }