<div class="authorization-background">
  <div class="authorization-frame">
    <button type="button" class="authorization-close-btn">
      <svg class="authorization-icon-btn">
        <use href="../img/sprite.svg#close"></use>
      </svg>
    </button>
    <form class="authorization-form">
      <input
        class="authorization-input"
        id="authorization-text"
        type="text"
        placeholder="NAME"
        required
      />
      <input
        class="authorization-input"
        id="authorization-mail"
        type="email"
        placeholder="EMAIL"
        required
      />
      <input
        class="authorization-input"
        id="singup-mail"
        type="password"
        placeholder="PASSWORD"
        required
      />
      <button type="submit" class="authorization-btn">SIGN UP</button>
    </form>
    <div class="authorization-link-wrap">
      <a class="authorization-singup" href="">SIGN UP</a>
      <p class="authorization-singin" href="">SIGN IN</p>
    </div>
  </div>
</div>
