<div class="authorization-container js-authorization-modal is-hidden">
  <div class="authorization-frame">
    <button
      type="button"
      class="authorization-close-btn js-authorization-close"
    >
      <svg class="authorization-icon-btn">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>
    <form class="authorization-form">
      <input
        class="authorization-input"
        id="authorization-text"
        type="text"
        placeholder="NAME"
        required
      />
      <div class="authorization-input-wrap">
        <input
          class="authorization-input"
          id="authorization-mail"
          type="email"
          placeholder="EMAIL"
          required
        />
        <svg class="authorization-input-icon">
          <use href="./img/sprite.svg#mail"></use>
        </svg>
      </div>
      <div class="authorization-input-wrap">
        <input
          class="authorization-input"
          id="authorization-password"
          type="password"
          placeholder="PASSWORD"
          required
          minlength="6"
          maxlength="20"
        />
        <svg class="authorization-input-icon">
          <use href="./img/sprite.svg#lock"></use>
        </svg>
      </div>
      <button type="submit" class="authorization-sign-up-btn authorization-btn">
        SIGN UP
      </button>
      <button
        type="submit"
        class="authorization-sign-in-btn authorization-btn is-hidden"
      >
        SIGN IN
      </button>
    </form>
    <div class="authorization-link-wrap">
      <p class="authorization-link authorization-sign-up" href="">SIGN UP</p>
      <p class="authorization-link authorization-sign-in" href="">SIGN IN</p>
    </div>
  </div>
  <div class="authorization-backdrop js-authorization-backdrop"></div>
</div>
