<section class="funds">
  <div class="funds-wrapper">
    <p class="funds-title">Support Ukraine</p>
    <svg class="" width="20" height="32">
      <use class="svg-tryzub" href="./img/sprite.svg#tryzub"></use>
    </svg>
  </div>

  <ul class="funds-list list"></ul>
  <button class="funds-btn" type="button">
    <svg class="funds-btn-svg" width="32" height="32">
      <use class="" href="./img/sprite.svg#2bottom"></use>
    </svg>
  </button>
  <script type="module" src="../js/funds.js"></script>
</section>
