<section class="funds">
  <div class="funds-title-wrapper">
    <p class="funds-title">Support Ukraine</p>
    <svg class="funds-title-svg">
      <use class="funds-title-tryzub" href="./img/sprite.svg#tryzub"></use>
    </svg>
  </div>
  <ul class="funds-list"></ul>
  <div class="funds-buttons">
    <button class="funds-btn-bottom" type="button">
      <svg class="funds-btn-svg">
        <use class="" href="./img/sprite.svg#2bottom"></use>
      </svg>
    </button>
    <button class="funds-btn-top is-hidden" type="button">
      <svg class="funds-btn-svg">
        <use class="" href="./img/sprite.svg#2top"></use>
      </svg>
    </button>
  </div>
  <script type="module" src="./js/funds.js"></script>
</section>
