<header class="header">
  <div class="logo">
    <a href="index.html">
      <svg class="foto-logo">
        <use href="../img/symbol-defs.svg#icon-logo-2"></use>
      </svg>
    </a>
  </div>
  <nav>
    <ul class="navigation">
      <li><a href="index.html">HOME</a></li>
      <li><a href="shoplist.html">SHOPPING LIST</a></li>
    </ul>
  </nav>
  <div class="theme-switch">
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
  </div>
<div class="sign-up">
  <button type="button" class="sign-up-button"></button>
</div>
<button type="button" class="menu-btn" data-menu-open="" aria-expanded="false">
   <img class="img-menu img-passive" src="../img/align-left (1).jpg" alt="Іконка меню" width="28" height="28"
    class="btn-header-icons">
 </button>

<!-- Модальне вікно -->
<!-- <div class="backdrop is-hidden data-menu">
  <p>Привіт</p>
</div> -->
  <script src="../js/header.js"></script>
</header>