<header class="header">
  <div class="logo">
    <a href="index.html">
      <svg class="foto-logo">
        <use href="./img/symbol-defs.svg#icon-logo-2"></use>
      </svg>
    </a>
  </div>
<nav>
  <ul class="navigation">
    <li class="li-navigation"><a href="index.html" class="link current">HOME</a></li>
    <li class="li-navigation"><a href="shoplist.html" class="shoplist-header">SHOPPING LIST <svg class="svg-navigation"
          width="28" height="28">
          <use class="svg-navigation" href="./img/symbol-shop.svg#icon-Vector-4"></use>
        </svg> </a></li>
  </ul>
</nav>
  <div class="theme-switch">
   
    <label class="slider">
      <input type="checkbox">
      <span class="slider-btn"></span>
    </label>
  </div>
  <div class="sign-up">
    <button type="button" class="sign-up-button js-authorization-open">
      Sign up
      <svg width="20" height="20" style="margin-left: 90px;">
        <use class="sign-up-foto" href="./img/sprite.svg#loginout" style="stroke: #EAC645;"></use>
      </svg>
    </button>
  </div>
  <button type="button" class="menu-btn" data-menu-open aria-expanded="false">
    <img class="img-menu img-passive btn-header-icons" src="./img/align-left (1).jpg" alt="Іконка меню" width="28"
      height="28">
  </button>
  <!-- Модальне вікно -->
  <div class="modal-header" data-menu aria-expanded="false">
    <div class="header-backdrop">
      <a class="logo-modal" href="index.html" style="margin-right: auto;">
        <svg class="foto-logo">
          <use href="./img/symbol-defs.svg#icon-logo-2"></use>
        </svg>
      </a>
      <label class="slider" style = "margin-right: 34px;">
        <input type="checkbox">
        <span class="slider-btn"></span>
      </label>
      <button type="button" class="menu-btn btn-close" data-menu-close>
        <svg class="img-menu btn-header-icons btn-close-svg" width="28" height="28">
          <use href="./img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <div>
      <button type="button" class="sign-up-button btnmodal" style="margin-top: 104px;">
        Sign up
        <svg width="20" height="20" style="margin-left: 90px;">
          <use class="sign-up-foto" href="./img/sprite.svg#loginout" style="stroke: #EAC645;"></use>
        </svg>
      </button>
      <img class="img-burger-menu" src="./img/menu-bg.png" alt="burger">
    </div>
  </div>


</header>