<header class="header">
   <div class="container">
      <button type="button" class="logo">Logo</button>
      <button class="theme-swithcer">Theme</button>
      <button data-menu-open type="button" class="menu-btn">M</button>
      <!-- <button data-menu-close class="close-btn" type="button">X</button> -->
      <div class="menu" data-menu>
         <button class="login-btn">Login</button>
         <nav class="page-nav">
            <button class="home-nav">Home</button>
            <button class="shoplist-nav">SHOPPING LIST</button>
         </nav>
      </div>
   </div>
</header>