<section class="home">
  <!---------------------- TOP SECTION CATEGOTY  -->
  <div class="top-sections">
    <section class="category">
      <!-- <p class="title-category is-active">All categories</p>
      <ul class="list-category" id="category-list">
        <li class="name-category"></li>
      </ul> -->
      <ul class="js-category-list category-list">
        <li><a href="" class="category-link selected-category">All categories</a></li>
      </ul> 
    </section>
    <!-------------------------- TOP SECTION FOUNDATION -->
    <section class="bf"></section>
  </div>
  <!------------------------------ SECTION BOOK-LIST -->
  <section class="book-list">
    <h1 class="book-list-title">
      Best Sellers <span class="spn-books">Books</span>
    </h1>
    <p class="book-category">Combined Print and E-Book Fiction</p>
    <ul class="best-category">
      <li class="book-thumb">
        <img class="img-book" src="#" alt="book-test" />
        <p class="book-name">I will find you</p>
        <p class="author">Harlan Coben</p>
      </li>
      <button class="btn-see-more">SEE MORE</button>
    </ul>
  </section>
</section>
