<footer class="footer">
  <button class="js-modal-book-open" type="button">MODAL OPEN</button>
</footer>

<div class="modal-book-backdrop js-modal-book-backdrop is-hidden">
  <!-- <div class="modal-book js-modal-book">
    <button type="button" class="modal-book-close-btn js-modal-book-close-btn">
      <svg class="modal-book-close-svg">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal-book-wrap">
      <img src="./img/card-m.jpg" alt="" class="modal-book-img" />
      <div class="modal-book-info-wrap">
        <h2 class="modal-book-name">HELLO BEAUTIFUL</h2>
        <p class="modal-book-autor">Ann Napolitano</p>
        <p class="modal-book-info">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>
        <div class="modal-book-linc-box">
          <a href="" class="modal-book-linc" target="_blank">
            <img src="./img/shop1.png" alt="" class="modal-book-linc-icon" />
          </a>
          <a href="" class="modal-book-linc" target="_blank">
            <img src="./img/shop2.png" alt="" class="modal-book-linc-icon" />
          </a>
          <a href="" class="modal-book-linc" target="_blank">
            <img src="./img/shop3.png" alt="" class="modal-book-linc-icon" />
          </a>
        </div>
      </div>
    </div>
    <button class="modal-book-ls-btn js-modal-book-localstostorage-add-btn">
      add to shopping list
    </button>
  </div> -->
</div>

<!-- <div class="modal-book-backdrop js-modal-book-backdrop is-hidden">
  <div class="modal-book">
    <button type="button" class="modal-book-close-btn js-modal-book-close-btn">
      <svg class="modal-book-close-svg">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal-book-wrap">
      <img src="./img/card-m.jpg" alt="" class="modal-book-img" />
      <div class="modal-book-info-wrap">
        <h2 class="modal-book-name">HELLO BEAUTIFUL</h2>
        <p class="modal-book-autor">Ann Napolitano</p>
        <p class="modal-book-info">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>
        <div class="modal-book-linc-box">
          <a href="" class="modal-book-linc" target="_blank">
            <img src="./img/shop1.png" alt="" class="modal-book-linc-icon" />
          </a>
          <a href="" class="modal-book-linc" target="_blank">
            <img src="./img/shop2.png" alt="" class="modal-book-linc-icon" />
          </a>
          <a href="" class="modal-book-linc" target="_blank">
            <img src="./img/shop3.png" alt="" class="modal-book-linc-icon" />
          </a>
        </div>
      </div>
    </div>
    <button
      class="modal-book-ls-btn remove js-modal-book-localstostorage-remove-btn"
    >
      remove from the shopping list
    </button>
    <p class="modal-book-text">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div> -->
