<section class="shoplist">
   <!-- Path to images as from index.html file -->
   <div class="fonds" ></div>
   <div class="shooping-list">
   <h1 class="shopping-titel">Shopping <span class="shopping-titel-list">List</span></h1>
   <ul>
   <li class="shopping-card">
      <a href="#" class="button-trash shopping-remove-btn-js">
         <svg width="18" height="18">
            <use href="./img/sprite.svg#trash"></use>
         </svg>
      </a>
      <img src="./img/card-m.jpg" alt="" class="shopping-book-img" />
      <div>
         <h2 class="shopping-book-name">HELLO BEAUTIFUL</h2>
         <p class="shopping-book-category">Hardcover fiction</p>
         <div class="shopping-book-info">
            <p>
               In a homage to Louisa May Alcott’s “Little Women,” a young man’s
               dark past resurfaces as he gets to the know the family of his
               college sweetheart.
            </p>
         </div>
         <div>
            <p class="shopping-book-autor">Ann Napolitano</p>
            <div class="shopping-linc-box">
               <a href="" class="shopping-linc" target="_blank">
                  <svg class="shopping-linc-svg">
                     <use href=""></use>
                  </svg>
               </a>
               <a href="" class="shopping-linc" target="_blank">
                  <svg class="shopping-linc-svg">
                     <use href=""></use>
                  </svg>
               </a>
               <a href="" class="shopping-linc" target="_blank">
                  <svg class="shopping-linc-svg">
                     <use href=""></use>
                  </svg>
               </a>
            </div>
         </div>
      </div>
   </li>
   </ul>

   </div>

</section>
<!-- shopping-list page is empty -->
<section class="shoplist empty">
   <div class="fonds"></div>
   <div class="shooping-list">
         <h1 class="shopping-titel">Shopping <span class="shopping-titel-list">List</span></h1>
      <div class="shopping-list-empty">
         <a>
            <p class="shopping-book-empty">This page is empty, add some books and proceed to order.</p>      
            <img src="./img/empty.png" alt="This page is empty, add some books and proceed to order." class="shopping-book-empty-img" />
         </a>
      </div>
   </div>

</section>