<section class="shoplist">
   <!-- Path to images as from index.html file -->
   <div class="funds">
      <load src="./funds.html" />
   </div>
   <div class="shop-container">
      <h1 class="shop-title">Shopping <span class="shop-title-span">List</span></h1>
      <ul class="shop-box js-shop-box"></ul>
      <div class="shop-list-empty js-shop-empty">
         <a>
            <p class="shop-book-empty">This page is empty, add some books and proceed to order.</p>      
            <img src="./img/empty.png" alt="This page is empty, add some books and proceed to order." class="shop-book-empty-img" />
         </a>
      </div>
      <ul class="book-list"></ul>
   </div>
</section>
