<section class="shoplist">
   <!-- Path to images as from index.html file -->
   <load src="./funds.html" />
   <!-- shopping list page -->
   

</section>
<!-- shopping-list page is empty -->
<section class="shoplist empty" id="page-empty">
   <div class="shooping-list">
         <h1 class="shopping-titel">Shopping <span class="shopping-titel-list">List</span></h1>
      <div class="shopping-list-empty">
         <a>
            <p class="shopping-book-empty">This page is empty, add some books and proceed to order.</p>      
            <img src="./img/empty.png" alt="This page is empty, add some books and proceed to order." class="shopping-book-empty-img" />
         </a>
      </div>
   </div>

</section>