<header class="header">
   <div class="container">
       <a href="./index.html" class="logo link">Web<span class="navi">Studio</span></a>
       <button data-menu-open type="button" class="menu-btn">
           <svg class="icon"><use href="./images/sprite.svg#menu"></use></svg>
       </button>
       <div class="menu" data-menu>
           <button data-menu-close class="close-btn" aria-label="Close menu" type="button">
               <svg class="icon"><use href="./images/sprite.svg#close"></use></svg>
           </button>
           <nav class="page-nav">
               <ul class="list">
                   <li class="item">
                       <a href="./index.html" class="link current-page">Studio</a>
                   </li>
                   <li class="item">
                       <a href="./portfolio.html" class="link">Portfolio</a>
                   </li>
                   <li class="item">
                       <a href="" class="link">Contacts</a>
                   </li>
               </ul>
           </nav>
           <address class="contacts">
               <ul class="address list">
                   <li class="item"><a href="mailto:info@devstudio.com" class="link">
                       <svg class="icon"><use href="./images/sprite.svg#email"></use></svg> info@devstudio.com</a>
                   </li>
                   <li class="item"><a href="tel:+110001111111" class="link">
                       <svg class="icon"><use href="./images/sprite.svg#phone"></use></svg> +11 (000) 111-11-11</a>
                   </li>
               </ul>
               <ul class="sociales list">
                   <li class="item">
                       <a href="" class="link"><svg class="icon"><use href="./images/sprite.svg#ico-ig"></use></svg></a>
                   </li>
                   <li class="item">
                       <a href="" class="link"><svg class="icon"><use href="./images/sprite.svg#ico-tw"></use></svg></a>
                   </li>
                   <li class="item">
                       <a href="" class="link"><svg class="icon"><use href="./images/sprite.svg#ico-fb"></use></svg></a>
                   </li>
                   <li class="item">
                       <a href="" class="link"><svg class="icon"><use href="./images/sprite.svg#ico-in"></use></svg></a>
                   </li>
               </ul>
           </address>
       </div>
   </div>
</header>